* {
    font-family: "BenchNine", sans-serif;
}

body {
    /* background-image: url("23.jpeg");
    object-fit: fill; */
    /* background-image: url("ZASTAVA.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgb(0, 77, 255);
}

/* ----------------COLORS-------------------------------- */
/* RED: rgb(228, 3, 3)
ORANGE: rgb(255, 140, 0)
YELLOW: rgb(255, 237, 0)
GREEN:  rgb(0, 128, 38)
BLUE; rgb(0, 77, 255);
PURPLE: rgb(117, 7, 135) */

/* ----------------------------------------------------------- */
.logo {
    width: 160px;
    border: rgb(0, 128, 38) 2px solid;
    border-spacing: 5px;
    border-width: thick;
    border-radius: 10px;
}

.logo2 {
    width: 100px;
    border: rgb(228, 3, 3) 2px solid;
    border-radius: 10px;
}

.logoNameStart {
    font-family: "Finger Paint", cursive;
}
.logoname {
    font-family: "Finger Paint", cursive;
    font-size: 50px;
    position: absolute;
    top: -120px;
    left: -630px;
}
.registration {
    text-align: center;
    padding-top: 2px;
}
.inputDeco {
    background-color: rgb(117, 7, 135);
    padding: 10px;
}

input {
    text-decoration: none;
    border: none;
    border-bottom: 3px solid rgb(255, 237, 0);
    background-color: rgb(117, 7, 135);
    text-align: center;
    font-size: 20px;
}
input.custom {
    caret-color: rgb(228, 3, 3);
    font-weight: bold;
}

.loginDeco {
    color: rgb(0, 128, 38);
    position: relative;
    text-align: right;
    right: -530px;
    font-weight: bold;
    font-size: 20px;
}

.firstBtn {
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(255, 140, 0);
    margin-bottom: 30px;
}
.firstBtn:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(228, 3, 3);
}

.littlepic {
    width: 80px;
    position: absolute;
    right: 20px;
    border: rgb(99, 127, 8) 2px solid;
    border-radius: 10px;
}
.headerRow {
    border-bottom: solid darkgreen 2px;
    padding: 15px;
}

.traka {
    position: absolute;
    list-style-type: none;
    right: 130px;
    top: 110px;
    border: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.traka p {
    display: inline;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-transform: normal;
}

.traka p:hover {
    display: inline;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}

.linkCustom {
    border: none;
    color: black;
    padding-left: 10px;
    font-size: 20px;
}
.finderConatiner {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 1200px;
    /* border: dotted green 2px; */
}
.uploaderPic {
    width: 400px;
    height: 150px;
    background-color: black;
    position: absolute;
    color: white;
    text-align: center;
    top: 1%;
    left: 50%;
    border: 2px solid darkblue;
    border-radius: 20px;
}

.aroundUploader {
    position: absolute;
    width: 1400px;
    height: 1800px;
    background-color: rgb(117, 7, 135);
    opacity: 0.8;
    border: 2px solid darkblue;
    top: 0px;
}

.btn {
    position: absolute;
    right: 3%;
    top: 3%;
    border: white 2px solid;
    border-radius: 50%;
}

.btn:hover {
    position: absolute;
    right: 4%;
    top: 3%;
    background: red;
    border: black 2px solid;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s;
}

.friendbtn {
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(255, 140, 0);
}

.friendbtn:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(228, 3, 3);
}
.profile {
    position: absolute;
    left: 10px;
    width: 650px;
    height: 300px;
    margin-top: 20px;
}

.profile .myNameIs {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 310px;
    top: 15px;
    width: 180px;
}

.profile .littlepic {
    border: rgb(255, 237, 0) solid 2px;
    border-radius: 20px;
    background-color: rgb(255, 237, 0);
    object-fit: contain;
    width: 250px;
    height: 350px;
    left: 20px;
}

.grandfather {
    position: relative;
    height: 300px;
    width: 200px;
    left: 300px;
    top: 20px;
}

.addbtn {
    position: absolute;
    right: 20px;
    top: 0px;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(255, 140, 0);
}

.addbtn:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(228, 3, 3);
}

.profile .bioAdd {
    position: absolute;
    right: 5%;
    top: 55px;
    width: 180px;
}

.bioEdit {
    position: absolute;
    left: 5%;
    top: 270px;
    width: 180px;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(255, 140, 0);
}

.bioEdit:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(228, 3, 3);
}
img.newUsers {
    object-fit: cover;
    border-radius: 10px;
    border: rgb(255, 140, 0) 4px solid;
}
.newUsers {
    text-decoration: none;
    width: 150px;
    font-weight: bold;
    font-size: 24px;
    color: black;
    text-align: center;
    margin: 1px;
    padding: 1px;
}
.friendsPic {
    margin-top: 20px;
    margin-left: 20px;
    border: solid rgb(255, 237, 0) 4px;
    /* max-width: 380px; */
    width: 200px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
    background-color: rgb(255, 237, 0);
}

.otherprofileAppearance {
    /* border: 1px white solid; */
    width: 50%;
}
.bioBox textarea {
    position: absolute;
    background-color: rgb(0, 128, 38);
    left: 5%;
    top: 62px;
    height: 180px;
    width: 300px;
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
}

.bioBox .savebtn {
    position: absolute;
    top: 270px;
    left: 300px;
    background-color: rgb(255, 140, 0);
    border-radius: 20px;
    padding: 5px;
}

.bioBox .savebtn:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(228, 3, 3);
}

.bioBox .myNameIs {
    position: absolute;
    text-decoration: none;
    top: 160px;
    left: 20%;
    font-weight: bold;
    font-size: 24px;
    color: black;
}
.bioBox .bioBox2 {
    position: absolute;
    top: 220px;
    left: 20%;
}

.findPeopleStyled {
    text-align: center;
}

.searchengine {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.chat {
    color: white;
    text-align: center;
    background-color: rgb(255, 237, 0);
    opacity: 0.8;
    border-radius: 20px;
    border: 5px solid rgb(255, 140, 0);
    margin: 10px 50px 0px 50px;
}

.chat h1 {
    color: red;
}
.chat-container {
    height: 380px;
    width: 700px;
    overflow-y: scroll;
    background-color: rgb(0, 128, 38);
    color: white;
    border-radius: 20px;
    border: 3px solid rgb(255, 140, 0);
    position: relative;
    left: 25%;
    padding: 1px;
}

.chat-message {
    position: relative;
    display: inline-block;
    color: white;
    height: 80px;
    border-bottom: white solid 1px;
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 200px;
    padding-right: 200px;
}

.wallparent {
    display: inline;
}

.wallpost-sender-info {
    display: flex;
    flex-direction: row;
    border: solid 1px red;
}

.chat-message .chat-identification {
    width: 40px;
    position: absolute;
    left: 5px;
}

.wallpost-container .chat-identification {
    width: 30px;
    position: relative;
    left: 5px;
}

.wallpost-sender-info .chat-identification2 {
    padding-left: 10px;
}

.wallpostOnMyProfile {
    position: absolute;
    top: -150px;
    right: -700px;
}
.wallpostOnScreen {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 20px;
}
.chat-message p {
    font-size: 20px;
}
.mainContainer {
    /* background-image: url("8.jpeg");
    object-fit: fill;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.addMessage {
    margin-top: 10px;
    width: 400px;
    height: 90px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    border: red 2px solid;
    padding: 10px;
}

.wallpost-container {
    position: absolute;
    right: 20px;
    border: black 2px solid;
    width: 600px;
    height: 400px;
    margin-top: 20px;
    padding: 10px;
    top: 150px;
    background-color: rgb(255, 140, 0);
    border-radius: 20px;
    border: 4px solid rgb(117, 7, 135);
}

.enterWallpost {
    background-color: black;
    opacity: 0.9;
    color: white;
    border-radius: 20px;
    width: 400px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 250px;
    right: -15%;
}

.friends-container {
    /* border: 1px solid black; */
    position: relative;
    display: inline-block;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 1200px;
}

.amigos {
    position: absolute;
    left: 350px;
    top: 50px;
}
.amigos-wannabes {
    position: absolute;
    left: 700px;
    top: 50px;
}
